# 함수와 메서드
## 함수
- 독립적
- e.g. print(), input(), len(), min(), max()

## 메서드
- class, ojbect에 속함
- e.g. my_list.append(num), my_list.pop()

#### 함수 연습

In [44]:
def add(a, b):
  return a + b

result = add(3, 5)
print(result)

8

In [47]:
def square(x):
  return x ** 2

print("2^2 =", square(2))

2^2 = 4

# 자료구조
## 리스트
### 생성
- \[ a, b, c ]
- list()

### 삽입
- append(value) 값을 리스트 끝에 추가
- insert(index, value) 값을 인덱스 위치에 삽입
- extend(list) 리스트의 값들을 리스트 끝에 추가

### 삭제
- remove(value) 값을 삭제
- pop(index) 인덱스 위치의 데이터를 삭제
  - default: -1
- clear() 리스트 전체 삭제

### 기타 메서드
- index(value) 값에 해당하는 인덱스 번호 반환
- count(value) 리스트 내의 값의 개수 반환

### 내장 함수 활용
- len(list) 리스트 항목 개수 반환
- min(list) 최소값 반환
- max(list) 최대값 반환
- sum(list) 리스트 항목 총합 반환

In [2]:
x = [10, 20, 30, 40]

print(x)
print(x[0], x[3]) # index 1, 3
print(x[1:3]) # index 1-2

[10, 20, 30, 40]
10 40
[20, 30]

In [3]:
f = ["게임", "독서"]
print(f)

f[0] = "스포츠"
print(f)

# f[2] = "음악" # index error

['게임', '독서']
['스포츠', '독서']

In [14]:
# 리스트 생성
x = [20]
print(x)

# 값 삽입
x.append(30)
print(x)

x.insert(0, 10)
print(x)

x.extend([40, 50])
print(x)

y = [1, 2]
z = x + y
print(z)

# 값 제거
x.remove(10)
print(x)

x.pop(2)
print(x)

x.clear()
print(x)

# 기타 메서드 및 내장 함수 활용
z = z + y
z.append(4)
print(z)
print("길이:", len(z))
print("20 위치:", z.index(20))
print("2 개수:", z.count(2))
print("min:", min(z))
print("max:", max(z))
# print("total:". sum(z))

[20]
[20, 30]
[10, 20, 30]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 1, 2]
[20, 30, 40, 50]
[20, 30, 50]
[]
[10, 20, 30, 40, 50, 1, 2, 1, 2, 4]
길이: 10
20 위치: 1
2 개수: 2
min: 1
max: 50

In [40]:
# print "apple"
fruits = ["banana", "apple", "orange", "cherry"]
print("\n", fruits)
print(fruits[1])

# print last value
# print(fruits[-1])

# change "banana" -> "grape"
fruits = ["apple", "banana", "cherry"]
print("\n", fruits)
fruits[fruits.index("banana")] = "grape"
print(fruits)

# add "strawberry"
fruits = ["apple", "banana", "cherry"]
print("\n", fruits)
fruits.append("strawberry")
print(fruits)

# count "apple"
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print("\n", fruits)
print("apple의 개수:", fruits.count("apple"))

 ['banana', 'apple', 'orange', 'cherry']
apple

 ['apple', 'banana', 'cherry']
['apple', 'grape', 'cherry']

 ['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'strawberry']

 ['apple', 'banana', 'apple', 'cherry', 'apple']
apple의 개수: 3

In [52]:
# print last value
numbers = [x * 10 for x in range(1, 6)]
print("\n", numbers)
print(numbers[-1])

# remove 30
numbers.remove(30)
print("\n", numbers)

# length
numbers = [x * 5 for x in range(1, 6)]
print("\n", numbers)
print("length of numbers:", len(numbers))

# max & min
numbers = [10, 5, 8, 3, 15]
print("\n", numbers)
print("max of numbers:", max(numbers))
print("min of numbers:", min(numbers))

# total
numbers = [x * 10 for x in range(1, 6)]
print("\n", numbers)
tot = sum(numbers)
print("total:", tot)

# square list
numbers = [x for x in range(1, 6)]
numbers_square = [x ** 2 for x in numbers]
print("\n", numbers)
print(numbers_square)

## use function
def square(l):
  square_list = []
  for x in l:
    square_list.append(x ** 2)

  return square_list

print(square(numbers))

 [10, 20, 30, 40, 50]
50

 [10, 20, 40, 50]

 [5, 10, 15, 20, 25]
length of numbers: 5

 [10, 5, 8, 3, 15]
max of numbers: 15
min of numbers: 3

 [10, 20, 30, 40, 50]
total: 150

 [1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

#### BMI calculator

In [55]:
def BMI(height, weight):
    height_m = height / 100
    bmi = weight / (height_m ** 2)
    return bmi

def isObesity(bmi):
    if bmi < 20:
        return "저체중"
    elif bmi < 25:
        return "정상"
    elif bmi < 30:
        return "과체중"
    else:
        return "비만"


height = 190
weight = 90
bmi = BMI(height, weight)
print("Your BMI is", bmi)
print("당신은", isObesity(bmi), "입니다.")

Your BMI is 24.930747922437675
당신은 정상 입니다.