# 자료구조
## 리스트

#### 과제
비어있는 score 리스트 변수를 사용하여 학생들의 점수를 입력받는다. 모든 학생들의 합계, 총인원수, 평균을 출력해 보자. <br>
만약 입력받은 점수가 숫자가 아닌 문자이면 입력을 종료한다.

- isdigit() - 숫자 판별
  - 숫자: True
  - 숫자 x: False

In [2]:
score = []

tmp = 0
count = 0 # 총인원수
tot = 0 # 합계

while tmp != -1:
  tmp = input("학생의 점수를 입력하세요.")
  if tmp.isdigit():
    tmp = int(tmp)
    score.append(tmp)
    count += 1
    tot += tmp
  else:
    tmp = -1

print("합계:", tot)
print("인원수:", count)
print("평균:", tot / count)

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요.ㄱ
합계: 190
인원수: 3
평균: 63.333333333333336

In [6]:
score = []

tmp = input("학생의 점수를 입력하세요.")
while tmp.isdigit():
    tmp = int(tmp)
    score.append(tmp)
    tmp = input("학생의 점수를 입력하세요.")

print("합계:", sum(score))
print("인원수:", len(score))
print("평균:", sum(score) / len(score))

학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.30
학생의 점수를 입력하세요..
합계: 190
인원수: 3
평균: 63.333333333333336

### List Comprehension
- newlist = [expression for item in iterable]

In [21]:
numbers = [ x ** 2 for x in range(10)]
print(numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### 1부터 10까지 짝수의 원소를 가진 리스트를 생성

In [20]:
numbers = [ x for x in range(1, 11) if x % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10]

#### S로 시작하는 도시명으로 리스트를 생성

In [25]:
cityList = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
ScityList = [ cname for cname in cityList if cname[0] == "S"]
print(ScityList)

['Seoul', 'Shanghai']

# 함수와 메소드
## split and join
- string.split(separator, maxsplit)
- string.join(iterable)

In [7]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [11]:
data = "John,30,Engineer\nAlice,25,Designer\nBob,22,Artist"
lines = data.split("\n")
print(lines)
for line in lines:
  fields = line.split(",")
  print("Name:", fields[0], "Age:", fields[1], "Occupation:", fields[2])

['John,30,Engineer', 'Alice,25,Designer', 'Bob,22,Artist']
Name: John Age: 30 Occupation: Engineer
Name: Alice Age: 25 Occupation: Designer
Name: Bob Age: 22 Occupation: Artist

In [13]:
words = ['Hello', 'world', 'this', 'is', 'a', 'test']
sentence = ' '.join(words)
print(sentence)

Hello world this is a test

In [16]:
strList = ['Python', 'Java', 'Ruby']
line = "->".join(strList)
print(line)

Python->Java->Ruby

## lambda
이름 없는 함수 (익명 함수) 정의
- lambda arguments: expression

In [27]:
double = lambda x: x * 2
print(double(5))

x = lambda a, b : a * b
print(x(5, 6))

y = lambda a, b, c : a + b + c
print(y(5, 6, 2))

10
30
13

### filter
함수와 순회 가능한 객체를 받아, 넘어온 조건 함수를 만족하는 데이터만 찾아서 반환
- filter(function, iterable)

In [38]:
numbers = [ x for x in range(1, 11)]
print(numbers)

odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [60]:
ages = [5, 12, 17, 18, 24, 32]

ages_over18 = list(filter(lambda x: x >= 18, ages))
print(ages_over18)

[18, 24, 32]

### map
함수와 순회 가능한 객체를 받아, 객체의 각 항목에 함수를 적용한 결과 반환
- map(function, iterables)

In [35]:
mylist = list(map(str, range(10)))
print(mylist)

numbers = list(map(int, mylist))
print(numbers)

squared = list(map(lambda x: x * 2, numbers))
print(squared)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
def convert_to_grade(score):
  if score >= 90:
    return 'A'
  elif score >= 80:
    return 'B'
  elif score >= 70:
    return 'C'
  elif score >= 60:
    return 'D'
  else:
    return 'F'

scores = [88, 92, 78, 60, 75, 95]

grades = list(map(convert_to_grade, scores))
print(grades)

['B', 'A', 'C', 'D', 'C', 'A']

## enumerate
순회 가능한 객체(예: 리스트)를 인덱스와 함께 반환
- enumerate(iterator, start)

In [46]:
fruits = ['apple', 'banana', 'cherry']
for idx, fruit in enumerate(fruits):
  print(idx, fruit)

0 apple
1 banana
2 cherry

In [47]:
dict = {'a': 1, 'b': 2, 'c': 3}
for idx, (key, value) in enumerate(dict.items()):
  print(f"Index: {idx}, Key: {key}, Value: {value}")

Index: 0, Key: a, Value: 1
Index: 1, Key: b, Value: 2
Index: 2, Key: c, Value: 3

In [43]:
strList = ['Python', 'Java', 'Ruby']
newList = [(i, lang) for i, lang in enumerate(strList)]
print(newList)

[(0, 'Python'), (1, 'Java'), (2, 'Ruby')]

In [44]:
strList = ['Python', 'Java', 'Ruby']
newList = [(i, lang) for i, lang in enumerate(strList, 1)]
print(newList)

[(1, 'Python'), (2, 'Java'), (3, 'Ruby')]

## zip
두 개 이상의 순회 가능한 객체를 병렬적으로 순회하면서 각 항목을 튜플로 묶어 반환.
- zip(iterator1, iterator2, iterator3 ...)

In [48]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [65]:
name = [ "M", "N", "S", "A" ]
no = [ 4, 1, 3, 2 ]

mylist = list(zip(name, no))
print(mylist)

[('M', 4), ('N', 1), ('S', 3), ('A', 2)]

In [67]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

list123 = list(zip(list1, list2, list3))
for nums in list123:
  print("Sum:", sum(nums))

Sum: 12
Sum: 15
Sum: 18