### 시험등급

In [2]:
# Taking input from the user
score = int(input())

# Calculating and printing the grade
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

12
F

### 1부터 n까지 합

In [4]:
# Taking input from the user
num = int(input())

# Calculating sum
tot = 0
for n in range(num+1):
  tot += n

# printing result
print(tot)

10
55

### 홀수와 짝수

In [6]:
# Taking input from the user
num = int(input())

# printing even or odd
if num % 2 == 1:
  print("Odd")
else:
  print("Even")

13
Odd

### 원의 넓이와 둘레

In [10]:
# Taking input from the user
r = int(input())

# calculating
res1 = r * r * 3.14
res2 = 2 * r * 3.14

# printing result
print("{:.2f}".format(res1))
print("{:.2f}".format(res2))

10
314.00
62.80

### print

In [26]:
print("Hello")
print("world\n")

print("Hello", "world")

print("Hello ", end = "")
print("world!")

print("Hello world", end = "!!\n")

print("Hello", "world", sep = "-", end = "!!!")

Hello
world

Hello world
Hello world!
Hello world!!
Hello-world!!!

In [14]:
name = "Alice"
age = 30

# Multiple Arguments:
print("Name:", name, "Age:", age)

# Formatting Output:
print("Name: {}, Age: {}".format(name, age))

# Formatted Output with f-strings (Python 3.6+):
print(f"Name: {name}, Age: {age}")

Name: Alice Age: 30
Name: Alice, age: 30
Name: Alice, Age: 30